.collapseHeader {
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  border-radius: 5px;
}

.collapseHeader h1 {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;
  margin-left: 18px;
}

.collapseHeader img {
  width: 26px;
  height: 15px;
  margin-right: 32px;
}

@media screen and (max-width: 500px) {
  .collapseHeader {
    height: 30px;
  }

  .collapseHeader img {
    width: 16px;
    height: 9px;
    margin-right: 10px;
  }
}
