.tagTagLogement {
  padding: 0 10px;
  min-width: 115px;
  height: 25px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .tagTagLogement {
    width: 84px;
    height: 18px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 14px;
  }
}
